{% extends 'core/base.html' %}
{% load static %}
{% block principal %}
            <!-- JUMBOTRON -->
              <div class=" p-5 bg-primary text-white text-center ">
                <h1>BIENVENIDO A GAMINGNEWS</h1>
                <p>"Tu pagina de noticias gamer favorita"</p>
              </div>
            <!-- END JUMBOTRON -->
              
            <!-- BANNER -->
                  <div id="demo" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                      <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                      <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
                    </div>
                    
                    <div class="carousel-inner text-center">
                      <p class="NTD bg-dark text-white" >Noticias destacadas</p>
                      <div class="carousel-item active" >
                        <a href="https://www.youtube.com/watch?v=Zx2S7UVVcxE" target="_blank"><img src="{% static 'core/Img/parche.jpg' %}" alt="Noticia_1" class="d-block" style="width:100%; height: auto;"></a>
                        <div class="carousel-caption">
                          <h3 style="font-size: 30px;">Nuevo parche TFT 14.7</h3>
                          <p style="font-size: 20px;">¡El nuevo skarner! buffeos nerfeos y mucho mas...!</p>
                        </div>
                      </div>
                      <div class="carousel-item" >
                        <a href="{% url 'noticiaCS2' %}"><img src="{% static 'core/Img/cs2N2.png' %}" alt="Noticia_2" class="d-block" style="width:100%"></a>
                        <div class="carousel-caption">
                          <h3 style="font-size: 30px;">Eliminatorias y Predicciones</h3>
                          <p style="font-size: 20px;">Eliminatorias del Major de Copenhague y predicciones</p>
                        </div> 
                      </div>
                      <div class="carousel-item">
                        <a href="{% static 'core/https://lolesports.com/article/co-streamers-apertura-2024-semana-2-/blt86a43723d2a8557e' %}"><img src="{% static 'core/Img/LLA_CoStreamers_GranFinal_1600x900.jpg' %}" alt="Noticia_3" class="d-block" style="width:100%"></a>
                        <div class="carousel-caption">
                          <h3 style="font-size: 30px;">Co-streamers Apertura 2024: ¡Gran Final!</h3>
                          <p style="font-size: 20px;">La acción de la liga más importante de la región se vive con tus creadores favoritos.</p>
                        </div> 
                    </div>
                    
                    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon"></span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                      <span class="carousel-control-next-icon"></span>
                    </button>
                  </div>
                  <!-- END BANNER -->
                  
            
                  <!-- CONTENIDO -->
            
                  <div class="container-xl">
                    <section id="">
                        <a href=""><h2 class="mt-5 text-center">Competitivo</h2></a>
                        <div class="row my-5 text-center">
                            <div class="col-md-4">
                                <img src="{% static 'core/Img/Philippe.jpg' %}" width="350" height="350">
                                <h4>Canadiense Philippe 'Vulcan' Laflamme</h4>
                                <p>"El jugador estrella de la liga LCK, Chovy, se une al equipo norteamericano Cloud9 en un traspaso millonario de 1.500.000 millones de dolares, sacudiendo el mundo del League of Legends"</p>
                            </div>
                            <div class="col-md-4">
                                <img src="{% static 'core/Img/fakerWorlds.jpg' %}" width="350" height="350">
                                <h4>Faker T1 Worlds 2023</h4>
                                <p>"Faker junto a su equipo T1 se corona campeón de Worlds 2023, consolidando su legado imbatible en League of Legends"</p>
                            </div>
                            <div class="col-md-4">
                                <img src="{% static 'core/Img/s1mple.png' %}" width="350" height="350">
                                <h4>"s1mple" Jugador Ucraniano</h4>
                                <p>"Oleksandr "s1mple" Kostyliev es el mejor jugador de cs2 actualmente"</p>
                            </div>
                        </div>
                    </section>
                    
                  </div>
            
                  <hr>
            
                  <div class="container-xl">
                    <section id="Parques">
                        <h2 class="mt-5 text-center">league of legends</h2>
                        <div class="row my-5 text-center">
                            <div class="col-md-6">
                              <iframe width="560" height="315" src="https://www.youtube.com/embed/Zx2S7UVVcxE?si=CbJHH6h_FweDJq1L" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                <h4 class="mt-3"><a href="https://www.youtube.com/watch?v=Zx2S7UVVcxE" target="_blank">Nuevo parche 14.7</a></h4>
                                <p>¡El nuevo skarner! buffeos nerfeos y mucho mas</p>
                            </div>
                            <div class="col-md-6">
                              <iframe width="560" height="315" src="https://www.youtube.com/embed/LUiUVCvjYXo?si=btAtJ2EsFyOcO9uv" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                <h4 class="mt-3"><a href="https://www.youtube.com/watch?v=LUiUVCvjYXo" target="_blank">Nuevo parche TFT 14.7</a></h4>
                                <p></p>
                            </div>
                            <div class="col-md-6">
                                <a href="https://lolesports.com/article/co-streamers-apertura-2024-semana-2-/blt86a43723d2a8557e"><img src=" {% static 'core/Img/LLA_CoStreamers_GranFinal_1600x900.jpg' %}" alt="" width="560"></a>
                                <h4 class="mt-3"><a href="https://lolesports.com/article/co-streamers-apertura-2024-semana-2-/blt86a43723d2a8557e">Co-streamers Apertura 2024: ¡Gran Final!</a></h4>
                                <p></p>
                            </div>
                            <div class="col-md-6">
                              <iframe width="560" height="315" src="https://www.youtube.com/embed/ZPmtRdahoug?si=07R6_2MBlkmLVasC" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                <h4 class="mt-3"><a href="https://www.youtube.com/watch?v=ZPmtRdahoug" target="_blank">¿Cómo llegaron Estral y Movistar R7 a la final? | Camino a la Final</a></h4>
                                <p></p>
                            </div>
                        </div>
                    </section>
                    
                  </div>
            
                  <hr>
                  
                  <div class="container-xl">
                    <section id="Parques">
                        <a href="{% url 'cs2' %}"><h2 class="mt-5 text-center">Counter strike 2</h2></a>
                        <div class="row my-5 text-center">
                            <div class="col-md-6">
                                <a href="{% url 'noticiaCS1' %}"><img src="{% static 'core/Img/cs2N1.png' %}" width="550" height="300"></a>
                                <h4 class="mt-3"><a href="{% url 'noticiaCS1' %}">Domingo decisivo en Copenhague</a></h4>
                                <p></p>
                            </div>
                            <div class="col-md-6">
                                <a href="{% url 'noticiaCS2' %}"><img src="{% static 'core/Img/cs2N2.png' %}" width="550" height="300"></a>
                                <h4 class="mt-3"><a href="{% url 'noticiaCS2' %}">Eliminatorias del Major de Copenhague y predicciones para el Desafío Pick'Em</a></h4>
                                <p></p>
                            </div>
                            <div class="col-md-6">
                                <a href="{% url 'noticiaCS3' %}"><img src="{% static 'core/Img/cs2N3.png' %}" width="550" height="300"></a>
                                <h4 class="mt-3"><a href="{% url 'noticiaCS3' %}">¡Pegatinas del PGL Copenhague 2024!</a></h4>
                                <p></p>
                            </div>
                            <div class="col-md-6">
                              <a href="{% url 'noticiaCS4' %}"><img src="{% static 'core/Img/cs2N4.png' %}" width="550" height="300"></a>
                                <h4 class="mt-3"><a href="{% url 'noticiaCS4' %}">PGL Copenhague 2024</a></h4>
                                <p></p>
                            </div>
                        </div>
                    </section>
            
                  </div>
            
                    </section>
                  </div>
                  <!-- END CONTENIDO -->
            
                  <!-- The Modal -->
            <div class="modal" id="myModal">
                <div class="modal-dialog">
                  <div class="modal-content">
              
                    <!-- Modal body -->
                    <div class="modal-body">
                        <form action="" method="get">
                            <div class="mb-3 mt-3">
                              <label for="email" class="form-label">Email:</label>
                              <input type="email" class="form-control" id="txtemail" placeholder="Enter email" name="email">
                            </div>
                            <div class="mb-3">
                              <label for="pwd" class="form-label">Contraseña:</label>
                              <input type="password" class="form-control" id="txtpass" placeholder="Enter password" name="pswd">
                            </div>
                            <div class="form-check mb-3">
                              <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="remember"> Recuerdame
                              </label>
                            </div>
                          </form>
                    </div>
              
                    <!-- Modal footer -->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                      <button onclick="window.location.href='indexLogin.html'" type="submit" class="btn btn-primary">Enviar</button>
                  </div>
                  
                    
                  </div>
                </div>
              </div>
{% endblock %}






