{% extends 'core/base.html' %}
{% load static %}
{% block principal %}

<header class="py-5 border-bottom mb-4" style="background-image: url('../../static/core/Img/cs2.png');">
    <div class="container">
        <div class=" my-1"> 
            <h3 class="fw-bolder" style="margin-left: 75px;">"Noticias de counter strike 2"</h3>
        </div>
    </div>
</header>
<!-- Page content-->
<div class="container">
    <div class="row">
        <!-- Blog entries-->
        <div class="col-lg-8">
            <!-- Featured blog post-->
            <div class="card mb-4">
                <img class="card-img-top img-fluid" src="{% static 'core/img/cs2N2.png' %}">
                <div class="card-body">
                    <div class="small text-muted">Diciembre 4, 2023</div>
                    <h2 class="card-title">Eliminatorias del Major de Copenhague y predicciones para el Desafío Pick'Em</h2>
                </div>
            </div>
            <div>
                <p class="card-text">La fase de eliminación del Major PGL Copenhague ha terminado y ya solo quedan ocho equipos compitiendo en el primer Major Championship de Counter‑Strike 2.

                    Enhorabuena a Team Spirit y MOUZ, que avanzan invictos tras terminar la ronda con un registro perfecto de 3‑0. Eternal Fire, Cloud9 y Team Vitality se clasificaron con una puntuación de 3‑1, mientras que Natus Vincere, G2 Esports y FaZe Clan tuvieron que luchar hasta el final y necesitaron las cinco partidas para avanzar a la siguiente fase con un resultado de 3‑2.
                                  
                    Las partidas de las eliminatorias comienzan el jueves 28 de marzo en el Royal Arena de Copenhague (Dinamarca). ¡Haz tus predicciones para el Desafío Pick’Em antes de que comience la primera partida de las eliminatorias!
                                  
                    Y no te olvides de que las pegatinas de los equipos y jugadores están ya disponibles, y el 50 % de los ingresos se destina a los jugadores, equipos y organizaciones que participan en el Major PGL Copenhague.
                                  
                    ¡Buena suerte y que te diviertas!</p>
            </div>
            <!-- Nested row for non-featured blog posts-->
    
        </div>
        <!-- Side widgets-->
        <div class="col-lg-4">
            <!-- Search widget-->
            <div class="card mb-4">
                <div class="card-header">Search</div>
                <div class="card-body">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                        <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                    </div>
                </div>
            </div>
            <!-- Categories widget-->
            <div class="card mb-4">
                <div class="card-header">Categories</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#!">Web Design</a></li>
                                <li><a href="#!">HTML</a></li>
                                <li><a href="#!">Freebies</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#!">JavaScript</a></li>
                                <li><a href="#!">CSS</a></li>
                                <li><a href="#!">Tutorials</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Side widget-->
            <div class="card mb-4">
                <div class="card-header">Side Widget</div>
                <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and feature the Bootstrap 5 card component!</div>
            </div>
        </div>
    </div>
</div>

{% endblock %}